# Object files
*.o
*.ko

*.DS_Store
mpiexec
conj_grad_bin.c
test
programdb
program
4compute.txt

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
